body {
    background-color: #c5b908;
    margin: 0;
    overflow-y: hidden;
    animation: sky 6.5s 0s forwards;
}

@keyframes sky {
    35% {
        background-color: #94800d;

    }

    65% {
        background-color: #a1740b;

    }

    75% {
        background-color: #81590e;

    }

    100% {
        background-color: #352903;

    }

}

img {
    position: fixed;
    bottom: 0px;

}

.sun {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    animation: sunset 13s forwards;

}

@keyframes sunset {
    0% {
        background-color: #eb5712;
        box-shadow: 0px 0px 20px 10px #ece7da;
    }

    80% {
        background-color: #640808;
        box-shadow: 0px 0px 20px 10px #7a3312;

    }

    100% {
        /* background-color: #141406; */
        transform: translateY(537px);
        background-color: #b1410d;
        box-shadow: 0px 0px 20px 10px #381e03;


    }




}

.moon {
    background-color: transparent;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: -20px 10px #a19791;
    position: absolute;
    left: 10%;
    top: 5%;
    opacity: 0;
    animation: night 5.8s 8s forwards;

}

@keyframes night {
    100% {
        opacity: 1;
    }

}